* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://cdn.britannica.com/32/191732-050-5320356D/Human-red-blood-cells.jpg");
}

li {
    list-style: none;
    margin: 10px 20px;
}

li a {
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: white;
    font-weight:500;
    text-decoration: none;
}

li a:hover {
    color: rgb(0, 95, 117);
}

.nav-bar {
    background-color: rgb(83, 3, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar h1 {
    margin: 10px 20px;
    font-size: 2.5rem;
}

.nav-bar h1 a {
    color: rgb(229, 156, 156);
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px 20px;
    background-color: white;
    transition: 0.3s ease;
}

.section-one {
    display: flex;
    justify-content: center;
}

.container {
    width: 40%;
    height: 80vh;
    margin: 30px 0px;
    display: flex;
}

.left-side-container {
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* remove extra space below image */
    border-radius: 10px;
    filter: opacity(0.4);
}

.right-side-container {

    justify-content: flex-end;
    align-items: center;
}

.registration-papge {
    box-shadow: 1px 1px 5px white;
    height: 70%;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

label {
    color: wheat;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

input {
    background-color: transparent;
    color: white;
    padding: 10px;
    /* border-bottom: 1px solid white; */
    box-shadow: 1px 1px 3px white;
    border-radius: 5px;
}

button {
    padding: 10px;
    border-radius: 50px;
    background-color: transparent;
    box-shadow: 1px 1px 5px white;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    letter-spacing: 5px;
}

@media(max-width:780px) {
    .nav-bar h1{
        font-size: 1.5rem;
    }
    .section-one {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .container {
        width: 80%;
        height: auto;
        justify-content: center;
    }
    .registration-papge{
        width: 100%;
    }
    body {
        height: auto;
    }
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-bar ul {
        z-index: 1;
        width: 100%;
        position: fixed;
        top:10vh;
        left: -100%;
        flex-direction: column;
        background-color: rgb(105, 4, 4);
        transition: 0.5s;
    }
  .nav-bar ul.active{
    left: 0%;
  }
}

/*contact us*/